.mat-stepper{
  margin-top: 8px;
}

:host ::ng-deep .mat-horizontal-content-container{
  overflow: inherit !important;
}

:host ::ng-deep .mat-stepper-vertical{
  font-family: Lato, sans-serif;
}
:host ::ng-deep  .mat-stepper-horizontal {
  font-family: Lato, sans-serif;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
