<app-header-one [sticky]="true"></app-header-one>
<app-breadcrumb [title]="'Purchase'" [breadcrumb]="'Purchase'"></app-breadcrumb>

<section class="collection section-b-space">
    <div class="container">
        <mat-horizontal-stepper (click)="nothing()"  class="mat-stepper" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup" class="theme-form">
                    <ng-template matStepLabel>Information</ng-template>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="review">Location</label>
                            <input placeholder="search for location" autocorrect="off" autocapitalize="off"
                                   spellcheck="off"
                                   [ngClass]="{ 'is-invalid':  submitted && f.place?.errors?.required }"
                                   formControlName="place" type="text" class="form-control" #search>

                        </div>

                        <div class="col-md-6 li-list">
                            <label for="review">phone</label>
                            <ngx-intl-tel-input cssClass="form-control" [preferredCountries]="preferredCountries"
                                                [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                                                [searchCountryFlag]="true"
                                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                                [selectFirstCountry]="false"
                                                [value]="user.phone"
                                                [selectedCountryISO]="CountryISO.Germany" [maxLength]="15"
                                                [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                                [numberFormat]="PhoneNumberFormat.National" name="phone"
                                                formControlName="phone">
                            </ngx-intl-tel-input>
                        </div>
                    </div>
                    <div style="margin-bottom: 10px" class="form-row">
                        <div class="col-md-6">
                            <label for="review">First Name</label>
                            <input [ngClass]="{ 'is-invalid':  submitted && f.firstName?.errors?.required }"
                                   value="{{user.firstName}}" class="form-control" placeholder="First name"
                                   formControlName="firstName"
                                   required>
                        </div>
                        <div class="col-md-6">
                            <label for="review">Last Name</label>
                            <input [ngClass]="{ 'is-invalid':  submitted && f.lastName?.errors?.required }"
                                   value="{{user.lastName}}" class="form-control" placeholder="Last name"
                                   formControlName="lastName"
                                   required>
                        </div>
                    </div>
                    <button (click)="nextForm()" class="btn btn-solid">Next</button>

                    <div>
                    </div>
                </form>

            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Paiement">
                <div class="center">
                    <section class="filter-section">

                        <div style="    justify-content: center;" class="filter-container isotopeFilters">
                            <ul class="list-inline filter">
                                <li [class.active]="galleryFilter == 'Card'"><a href="javascript:void(0)"
                                                                                (click)="filterMenu('Card')">Credit Card</a></li>
                                <li [class.active]="galleryFilter == 'Paybal'"><a href="javascript:void(0)"
                                                                                  (click)="filterMenu('Paybal')">Pay Pal</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <div *ngIf="galleryFilter == 'Card'">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Name</ng-template>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="review">Full Name</label>
                                        <input type="text" class="form-control" formControlName="name"
                                               placeholder="Full Name*">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="review">Card</label>
                                        <div  id="card-element" class="field"></div>
                                    </div>
                                </div>
                            </div>
                            <button (click)="buy()" class="btn btn-solid">BUY</button>
                        </form>
                    </div>
                    <div *ngIf="galleryFilter == 'Paybal'">
                        <app-paybal (purchaseActionPaybal)="purchaseActionPaybal($event)" [fashionBoard]="fashionBoard"></app-paybal>
                    </div>
                </div>

            </mat-step>

            <mat-step>
                <ng-template matStepLabel>payments successfull</ng-template>
                <section class="section-b-space light-layout">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="success-text">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    <h2>thank you</h2>
                                    <p>Payment is successfully processsed and your order is on the way</p>
                                    <p>Transaction ID: {{paymentId}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</section>
<app-footer-one></app-footer-one>

