<app-breadcrumb [title]="'Login'" [breadcrumb]="'Login'"></app-breadcrumb>
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">
                    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="theme-form">
                        <div class="form-group ">
                            <label for="email">Email-Username</label>
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid':  (f.email?.errors?.required && submitted)}" id="email" placeholder="Email" required="" formControlName="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" [ngClass]="{ 'is-invalid': submitted && (f.password?.errors?.minlength || f.password?.errors?.required )  }" class="form-control" id="password" placeholder="Enter your password" formControlName="password" required="">
                        </div>
                        <div style="align-items: center" class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-solid" >Login</button>

                            </div>
                            <div class="col">
                                <a href="https://127.0.0.1:8080/api/auth/facebook" style="width: min-content;" type="button" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                                    </svg>
                                    Facebook
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create A Account</h6>
                    <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>
                    <button routerLink="/pages/register" class="btn btn-solid">Create an Account</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->
