
<section class="collection section-b-space">
    <div class="container">
        <div class="row partition-collection">
            <div *ngFor="let product of products" class="col-sm-4">
                <div class="collection-block">
                    <img src="{{api}}getimage/{{product.imageUrl}}" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>{{product.name}}</h3>
                        <p>{{product.url}}</p>
                        <h4>{{product.price}} €</h4>
                        <ul class="color-variant">
                            <li class="color"

                                [ngStyle]="{'background-color': product.color}"
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
