<app-header-one [username]="tokenStorage.getUser()?.username" [sticky]="true"></app-header-one>

<!-- Home slider start-->
<section class="p-0">
    <app-slider
            [sliders]="sliders"
            [textClass]="'text-center'"
            [category]="'fashion'"
            [buttonText]="'shop now'">
    </app-slider>
</section>

<section class="blog p-t-0 section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title1 section-t-space">
                    <h2 class="title-inner1">Comment Ça Marche</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-blog [blogs]="blogs"></app-blog>
            </div>
        </div>
    </div>
</section>
<section class="blog p-t-0 section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title1 section-t-space">
                    <h2 class="title-inner1">Style Boards</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-blog [blogs]="blogsFashionBoard"></app-blog>
            </div>
        </div>
    </div>
</section>

<section class="testimonial small-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <owl-carousel-o class="slide-2 testimonial-slider no-arrow" [options]="TestimonialSliderConfig">
                    <ng-template carouselSlide>
                        <div>
                            <div class="media">
                                <div class="text-center">
                                    <h2 class="title-inner1" style="color: var(--theme-deafult)">Qui Sommes-Nous?</h2>
                                    <h5 style="color: #222222">tout a commencé lorsque nous avons constaté que le
                                        shopping est devenu éprouvant pour la plupart des femmes: une infinité
                                        d’options, une manifestation de la contrefaçon, une qualité en baisse, etc. nous
                                        avons donc créé «rise with style» pour aider les femmes à dénichez les
                                        meilleures pièces sans perdre du temps à parcourir des centaines de sites web.
                                        «on vous aide à passer moins de temps dans le shopping pour vous concentrer à
                                        passer plus de temps pour créer, aimer et briller»</h5>
                                    {{sessionStorage.getItem('user')}}
                                </div>
                                <div class="media-body">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ngb-accordion [closeOthers]="true" activeIds="static-1" class="accordion theme-accordion"
                               id="accordionExample">
                    <ngb-panel id="static-1" title="Comment fonctionne Rise with Style?">
                        <ng-template ngbPanelContent>
                            <p> - Créer un compte sur notre site</p>
                            <p> - Choisir votre pack (1 Style boards, 2 style boards ou 4 style boards) et payer</p>
                            <p> - Remplir un quiz pour mieux comprendre vos besoins</p>
                            <p> - Recevoir un style board en ligne personnalisé rien que pour vous, avec les liens pour
                                les articles</p>
                            <p> - Effectuer vos achats directement à partir des liens comme les achats en ligne
                                réguliers.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2" title="Comment j’achete les articles du style board?">
                        <ng-template ngbPanelContent>
                            <p> - On vous enverrai votre style board avec les liens pour les articles choisis pour votre
                                look, vous pouvez les acheter directement des sites de marques.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-3"
                               title="Si Je n’aime pas un article dans le style board, puis-je le changer?">
                        <ng-template ngbPanelContent>
                            <p> - Oui c’est possible, si vous souhaitez changer quelque chose dans le look, votre
                                styliste apportera alors des modifications en fonction de vos demandes. Vous pouvez
                                échanger directement avec votre styliste par e-mail</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-4" title="Travaillez-vous avec des marques spécifiques??">
                        <ng-template ngbPanelContent>
                            <p> - Non, nous choisissons les tenues en fonction de leur coupe et de leur qualité. Nous ne
                                travaillons avec aucune marque</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-5"
                               title="Comment le styliste saura ce qui convient à ma forme et à ma personnalité?">
                        <ng-template ngbPanelContent>
                            <p> - Le quiz comportera plusieurs questions, tout ce que nous devons savoir pour mieux vous
                                servir et créer votre look parfait</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-6" title="Est-ce que votre service concerne seulement la France?">
                        <ng-template ngbPanelContent>
                            <p> - Oui, pour le moment, ce service est valable pour les résidents français seulement.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-7" title="Si le look dépasse mon budget?">
                        <ng-template ngbPanelContent>
                            <p> - Lorsque vous remplissez le quiz, il y a des questions spécifiques sur votre budget.
                                Nous accordons tellement d’attention à cela, ne vous inquiétez pas.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-8"
                               title="Est-ce que Rise witn Style fonctionne pour les enfants et les hommes?">
                        <ng-template ngbPanelContent>
                            <p> - Pour le moment nous servirons les femmes seulement</p>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</section>
<section class=" contact-page section-b-space">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Last Name</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Email" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Phone number</label>
                            <input type="text" class="form-control" id="review" placeholder="Enter your number"
                                   required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="review">Write Your Message</label>
                            <textarea class="form-control" placeholder="Write Your Message"
                                      id="exampleFormControlTextarea1"
                                      rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-solid" type="submit">Send Your Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
    <!-- Home slider End -->

    <!-- collection banner start-->
    <app-newsletter></app-newsletter>
    <app-footer-one></app-footer-one>

