<section class="faq-section section-b-space">
    <div class="theme-card">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div role="tab" class="card-header" id="static-2-header">
                            <button style="color: #838383;text-align: left;font-size: 17px;padding: 18px;" type="button" class="btn btn-link"
                                    aria-expanded="true" aria-controls="static-2"> Méthodes de paiement

                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <div role="tab" class="card-header" id="static-2-header">
                            <button style="color: #838383;text-align: left;font-size: 17px;padding: 18px;" type="button" class="btn btn-link"
                                    (click)="deleteQuizHistory()" aria-expanded="true" aria-controls="static-2"> Supprimer l’historique des réponses Quiz
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <div role="tab" class="card-header" id="static-2-header">
                            <button style="color: #838383;text-align: left;font-size: 17px;padding: 18px;" type="button" class="btn btn-link"
                                    aria-expanded="true" aria-controls="static-2"> Consulter les termes et conditions
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <div role="tab" class="card-header" id="static-2-header">
                            <button style="color: #838383;text-align: left;font-size: 17px;padding: 18px;" type="button" class="btn btn-link"
                                  (click)="deleteAccount()"  aria-expanded="true" aria-controls="static-2"> Supprimer votre compte
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
