<section class="compare-padding padding-t">
        <div class="theme-card">

            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Mes style boards</h4>
                        <div class="compare-page">
                            <div class="table-wrapper table-responsive">
                                <table class="table margin-table">
                                    <thead>
                                    <tr class="th-compare">
                                        <td>Photo</td>
                                        <td>Date</td>
                                        <td>Essayé</td>
                                        <td>status</td>
                                        <td>Note</td>
                                        <td>View</td>
                                    </tr>
                                    </thead>
                                    <tbody id="table-compare">
                                    <tr *ngFor="let styleboard of styleBoards">
                                        <td class="item-row">
                                            <img src="assets/images/blog/fashion1.png" alt="" class="featured-image">

                                        </td>
                                        <td class="item-row">
                                            {{styleboard.createdAt |  date :'short'}}
                                        </td>
                                        <td class="item-row">
                                            <input [checked]="styleboard.clientActivation" type="checkbox" value=""
                                                   id="flexCheckDefault">
                                        </td>
                                        <td class="item-row">
                                            <input [checked]="styleboard.adminValidation" type="checkbox" value=""
                                                   id="flexCheckDefault">
                                        </td>
                                        <td class="item-row">
                                            <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
                                        </td>
                                        <td class="item-row">
                                            <button (click)="viewProducts(styleboard)" type="button" class="btn btn-outline styleboard-button"
                                                    aria-label="Left Align">
                                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-right product-form-box">
                            <h4>
                                <del></del>
                                <span></span>
                            </h4>
                            <h3>
                            </h3>
                            <ul class="color-variant">
                                <li>
                                </li>
                            </ul>
                            <div class="product-description border-product">
                                <h4><span>Vous avez {{this.countStyleBoard}} style boards à activer dans votre armoire</span></h4>
                            </div>
                            <div class="product-buttons button-flex">
                                <a href="javascrip:void(0)" (click)="activateFashionBoard()" class="btn btn-solid">Activer</a>
                                <a routerLink="/home/fashionbundle" href="javascrip:void(0)" class="btn btn-solid">Acheter</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>
