.profile-side {
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 50px 30px 20px;
  z-index: 99;
}
.profile-side p {
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}
.button-flex{
  display: flex;
}
.margin-table{
  margin-top:10px
}
h4> span{
  color: #838383;
  font-family: Lato, sans-serif;
}
h4{
  color: #838383;
  font-family: Lato, sans-serif;
}
.profile-side p i {
  color: #e40046;
  margin-right: 10px;
}
.padding-t{
  padding-top: unset;
}
.compare-page .table-wrapper .table .featured-image{
  width: 75px;
}
styleboard-button{
  width: 20px;
}
