<app-header-one [sticky]="true"></app-header-one>
<app-breadcrumb [title]="'Fashion Bundle'" [breadcrumb]="'fashion bundle'"></app-breadcrumb>

<section class="collection section-b-space">
    <div class="container">
        <div class="row partition-collection">
            <div *ngFor="let fashionboard of fashionBoards" class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/blog/fashion1.png" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>{{fashionboard.name}}</h3>
                        <p>{{fashionboard.description}}</p>
                        <h4>{{fashionboard.price}} €</h4>
                        <a (click)="purchaseFashionBundle(fashionboard)" class="btn btn-outline">shop now !</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<app-footer-one ></app-footer-one>
