<app-header-one [sticky]="true"></app-header-one>
<app-breadcrumb [title]="'Profile'" [breadcrumb]="'Profile'"></app-breadcrumb>
<section class="section-b-space">

<div class="container">


    <div class="row">
        <div class="col-sm-3">
        <div class="theme-card left-side test">
            <div class="profile-img">
                <img src="{{this.imageUrl}}" width="200" alt="Profile Image">
            </div>
            <div class="profile-side">
                <ul class="nav flex-column" id="myTab" role="tablist">
                    <li class="nav-item">
                        <i  [ngStyle]="{'color': menu=='profile'?'#FF4C3BFF':'#838383'}" class='fa fa-user'></i>
                        <a routerLink="/home/profile/" href="javascript:void(0)" class="nav-link" (click)="changeMenu('profile')" [ngStyle]="{'color': menu=='profile'?'#FF4C3BFF':'#838383'}" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Mon profile</a>
                    </li>
                    <li class="nav-item">
                        <i  [ngStyle]="{'color': menu=='styleboards'?'#FF4C3BFF':'#838383'}" class="fa fa-star-o"></i>
                        <a  routerLink="/home/profile/fashionboards" href="javascript:void(0)" class="nav-link" id="profile-tab" [ngStyle]="{'color': menu=='styleboards'?'#FF4C3BFF':'#838383'}" (click)="changeMenu('styleboards')" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">Mes style boards</a>
                    </li>
                    <li class="nav-item">
                        <i  [ngStyle]="{'color': menu=='payments'?'#FF4C3BFF':'#838383'}" class='fa fa-credit-card-alt'></i>
                        <a routerLink="/home/profile/orders" href="javascript:void(0)" class="nav-link" id="contact-tab"  [ngStyle]="{'color': menu=='payments'?'#FF4C3BFF':'#838383'}" (click)="changeMenu('payments')" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Mes Payments</a>
                    </li>
                    <li class="nav-item">
                        <i  [ngStyle]="{'color': menu=='support'?'#FF4C3BFF':'#838383'}" class='fa fa-user'></i>
                        <a routerLink="/home/profile/support" href="javascript:void(0)" class="nav-link" [ngStyle]="{'color': menu=='support'?'#FF4C3BFF':'#838383'}" id="contact-tab" (click)="changeMenu('support')" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Support</a>
                    </li>
                    <li class="nav-item">
                        <i [ngStyle]="{'color': menu=='parameter'?'#FF4C3BFF':'#838383'}" class='fa fa-cog'></i>
                        <a routerLink="/home/profile/parameter" href="javascript:void(0)" class="nav-link" id="contact-tab"  [ngStyle]="{'color': menu=='parameter'?'#FF4C3BFF':'#838383'}" (click)="changeMenu('parameter')" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Paramètres</a>
                    </li>
                    <li class="nav-item">
                        <i  [ngStyle]="{'color': menu=='logout'?'#FF4C3BFF':'#838383'}" class='fa fa-sign-out'></i>
                        <a href="javascript:void(0)" class="nav-link" [ngStyle]="{'color': menu=='logout'?'#FF4C3BFF':'#838383'}" id="contact-tab" (click)="logout('logout')" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Se déconnecter</a>
                    </li>
                </ul>
            </div>

        </div>
        </div>
        <div class="col-sm-9">
<router-outlet></router-outlet>
        </div>
    </div>
</div>
</section>
<app-footer-one></app-footer-one>
