<section class="register-page section-b-space personal-section">
    <div class="theme-card">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Informations générales</h4>
                        <form (ngSubmit)="onSubmit()" [formGroup]="firstFormGroup" class="theme-form">
                            <div class="form-row personal-information">
                                <div class="col-md-12">
                                    <input [ngClass]="{ 'is-invalid':  submitted && f.firstName?.errors?.required }"
                                           type="text" class="form-control" id="firstName" formControlName="firstName"
                                           placeholder="Enter Your firstName"
                                           required="">
                                </div>
                                <div class="col-md-12">
                                    <input type="text"
                                           [ngClass]="{ 'is-invalid':  submitted && f.lastName?.errors?.required } "
                                           class="form-control" id="lastName" formControlName="lastName"
                                           placeholder="Enter Your lastName"
                                           required="">
                                </div>
                                <div class="col-md-12">
                                    <ngx-intl-tel-input cssClass="form-control"
                                                        [preferredCountries]="preferredCountries"
                                                        [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                                                        [searchCountryFlag]="true"
                                                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                                        [selectFirstCountry]="false"
                                                        [selectedCountryISO]="CountryISO.Germany" [maxLength]="15"
                                                        [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                                        [numberFormat]="PhoneNumberFormat.National"
                                                        formControlName="phone">
                                    </ngx-intl-tel-input>
                                </div>


                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input [ngClass]="{ 'is-invalid':  submitted && (f.birthDate?.errors?.required || birthDate > today)}"
                                               class="form-control" type="date" formControlName="birthDate"
                                        >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input placeholder="search for location" autocorrect="off" autocapitalize="off"
                                           spellcheck="off"
                                           [ngClass]="{ 'is-invalid':  submitted && f.place?.errors?.required }"
                                           formControlName="place" type="text" class="form-control" #search>
                                </div>
                                <div class="col-md-12">
                                    <input [ngClass]="{ 'is-invalid':  submitted && (f.email?.errors?.required || f.email?.errors?.email)}"
                                           formControlName="email" type="text" class="form-control" id="email"
                                           placeholder="Enter Your email" required="">
                                </div>

                                <button class="btn btn-solid">Enregistrer</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-right">
                    <div class="informations">
                        <form class="theme-form">

                            <div class="form-row">
                                <div class="col-md-12">
                                    <h4>Informations supplémentaires</h4>
                                    <h6>Est ce qu’il y a un article qui vous va parfaitement? (lien de
                                        l’article)</h6>
                                    <input type="text" class="form-control" id="response"
                                           placeholder="Tapez votre réponse"
                                           required="">
                                </div>
                            </div>
                            <button class="btn btn-solid">Ajouter</button>
                        </form>
                    </div>
                    <div class="social-media">
                        <form class="theme-form">

                            <h4>Médias sociaux</h4>
                            <div class="typo-content">
                                <div class="footer-social">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="button-connect">
                                <button class="btn btn-solid">Se connecter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
