.profile-side {
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 50px 30px 20px;
  z-index: 99;
}
.personal-section{
  padding-top: unset;
}
.register-page .theme-card{
  border: unset;
  color: #838383;
}
.personal-information{
  padding-top: 20px;
}
.social-media{
  padding-top: 40px
}
.button-connect{
  margin-top: 10px;
}
.images{
  display: flex;
}
.social-media > .theme-form > .images> img {
  float: left;
  width:  50px;
  height: 50px;
  object-fit: cover;
  padding-right: 10px;
}
.profile-side p {
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}

.profile-side p i {
  color: #e40046;
  margin-right: 10px;
}
