<mat-horizontal-stepper (click)="nothing()" #stepper>
    <mat-step label="'Gender'" [stepControl]="firstFormGroup">
        <form (submit)="onSubmit()" [formGroup]="firstFormGroup" class="theme-form">
            <ng-template matStepLabel>Gender</ng-template>
            <div class="form-row">
                <div class="col-md-12">
                    <h5>How do you identify</h5>

                    <select formControlName="gender" class="custom-select padding-select"
                            [ngClass]="{ 'is-invalid':  submittedFirstFormGroup && f.gender?.errors?.required }"

                            aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Non Binary">Non Binary</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-solid">Next</button>
        </form>

    </mat-step>
    <mat-step label="'Body Type'" [stepControl]="secondFormGroup">
        <form (submit)="submitFormBody()" [formGroup]="secondFormGroup" class="theme-form">

            <ng-template matStepLabel>Body Type</ng-template>
            <div class="form-row">
                <div class="col-md-12">
                    <h5>Quelles sont vos tailles et pointures habituelles</h5>
                    <div class="form-group">
                        <select [ngClass]="{ 'is-invalid':  submittedSecondFormGroup && f2.topSize?.errors?.required }"
                                formControlName="topSize" class="custom-select padding-select"
                                aria-label="Default select example">
                            <option selected>Pour les hauts</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>
                    </div>
                    <div class="form-group">

                        <select [ngClass]="{ 'is-invalid':  submittedSecondFormGroup && f2.bottomSize?.errors?.required }"
                                formControlName="bottomSize" class="custom-select padding-select"
                                aria-label="Default select example">
                            <option selected>Pour les bas</option>
                            <option value="32">32</option>
                            <option value="34">34</option>
                            <option value="36">36</option>
                            <option value="38">38</option>
                            <option value="40">40</option>
                            <option value="42">42</option>
                            <option value="44">44</option>
                            <option value="46">46</option>
                        </select>
                    </div>
                    <div class="form-group">

                        <select [ngClass]="{ 'is-invalid':  submittedSecondFormGroup && f2.shoesSize?.errors?.required }"
                                formControlName="shoesSize" class="custom-select padding-select"
                                aria-label="Default select example">
                            <option selected>Pour les chaussures</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="37.5">37.5</option>
                            <option value="38">38</option>
                            <option value="38.5">38.5</option>
                            <option value="39">39</option>
                            <option value="39.5">39.5</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                        </select>
                    </div>
                    <h5>Quel est votre type de morphologie</h5>
                    <div class="form-row">
                        <div *ngFor="let morphologyGroup of formDataSize.controls ;let i = index" [formGroup]="morphologyGroup"
                             class="col-sm-6">
                            <div class="form-check">
                                <input
                                       formControlName="morphologyBox" class="form-check-input" type="checkbox"
                                       [value]="sizes[i]" id="{{sizes[i]}}">
                                <h5>
                                    {{sizes[i]}}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-solid">Next</button>
        </form>
    </mat-step>
    <mat-step label="'Style'" [stepControl]="thirdFormGroup">
        <ng-template matStepLabel>Style</ng-template>
        <form (submit)="submitFormLook()" [formGroup]="thirdFormGroup">
            <div class="form-row">
                <div class="col-md-12">
                    <h5>Qu’est ce que vous cherchiez comme look</h5>
                </div>
                <div class="col-md-12">

                    <div class="form-check">
                        <input (click)="changeLook('morning')" formControlName="lookType" class="form-check-input"
                               type="radio"
                               value="jour" checked>
                        <h5>
                            Un look pour tous les jours
                        </h5>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="form-check">
                        <input (click)="changeLook('night')" formControlName="lookType" class="form-check-input"
                               type="radio"
                               value="soirée">
                        <h5>
                            Un look pour une soirée
                        </h5>
                    </div>
                </div>
                <div *ngIf="submittedThirdFormGroup && f3.lookType?.errors?.required" class="invalid-feedback">look
                    option required
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div *ngFor="let imageGroup of formData.controls ;let i = index" [formGroup]="imageGroup"
                             class="col-sm-3">
                            <div class="custom-control custom-checkbox image-checkbox">
                                <input formControlName="lookTypeImage" type="checkbox" class="custom-control-input"
                                     [value]="lookTypeJourImage[i]"  id="{{lookTypeJourImage[i]}}">
                                <label class="custom-control-label" for="{{lookTypeJourImage[i]}}">
                                    <img src="assets/images/quiz/style/{{lookTypeJourImage[i]}}" alt="#" class="img-fluid">
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-solid">Next</button>
        </form>
    </mat-step>
    <mat-step label="'Brands'" [stepControl]="fourthFormGroup">
        <form (submit)="submitFormMarque()" [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Brands</ng-template>
            <div class="form-row">
                <div *ngFor="let marqueGroup of formDataMarque.controls ;let i = index" [formGroup]="marqueGroup"
                     class="col-sm-3">
                    <div class="custom-control custom-checkbox image-checkbox">
                        <input formControlName="marqueTypeImage" type="checkbox" class="custom-control-input"
                               [value]="marques[i]" id="assets/images/quiz/style/ +{{marques[i]}}">
                        <label class="custom-control-label" for="assets/images/quiz/style/ +{{marques[i]}}">
                            <img src="assets/images/quiz/logos/{{marques[i]}}" alt="#" class="img-fluid">
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn-solid">Finish</button>
        </form>
    </mat-step>
</mat-horizontal-stepper>
