.profile-side {
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 50px 30px 20px;
  z-index: 99;
}
.profile-side p {
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}
.button-flex{
  display: flex;
}
.margin-table{
  margin-top:10px
}
h4> span{
  color: #838383;
  font-family: Lato, sans-serif;
}
h4{
  color: #838383;
  font-family: Lato, sans-serif;
}
.profile-side p i {
  color: #e40046;
  margin-right: 10px;
}
.padding-t{
  padding-top: unset;
}
.compare-page .table-wrapper .table .featured-image{
  width: 75px;
}
styleboard-button{
  width: 20px;
}
h5{
  color: rgb(131, 131, 131);
  font-family: Lato, sans-serif;
}
padding-select{
  padding-bottom: 20px;
}
button{
  position: absolute;
  right:    0;
  bottom:   0;
}
.custom-control.image-checkbox{
  position: relative;
  padding-left: 0;

  .custom-control-input:checked ~ .custom-control-label{
    &:after,
    &:before{
      opacity: 1;
    }
  }

  label{
    cursor: pointer;

    &:before{
      border-color: #007bff;
      background-color: #007bff;
    }

    &:after,
    &:before{
      transition: opacity .3s ease;
      opacity: 0;
      left: .25rem;
    }

    &:focus,
    &:hover{
      opacity: .8;
    }

    img{
      border-radius: 2.5px;
    }
  }
}


