        <div class="modal-content">
            <div class="modal-header">
                <h4>Confirmation</h4>

                <button (click)="closeAction()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="background-image: unset !important;background-color: #ffffff" class="modal-body background">
                <h5>{{message}}</h5>
            </div>
            <div class="modal-footer">
                <button (click)="closeAction()" type="button" class="btn btn-outline" data-dismiss="modal">Cancel</button>
                <button (click)="confirmAction()" type="button" class="btn btn-solid">Confirm</button>
            </div>
        </div><!-- /.modal-content -->
