<app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
                    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="theme-form">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">User Name</label>
                                <input type="text" [ngClass]="{ 'is-invalid':  submitted && f.username?.errors?.required }" class="form-control" id="fname" placeholder="username" required="" formControlName="username">
                            </div>
                            <div class="col-md-6">
                                <label for="email">First Name</label>
                                <input type="text" [ngClass]="{ 'is-invalid':  submitted && f.firstName?.errors?.required }" class="form-control" id="fname" placeholder="First Name" required="" formControlName="firstName">
                            </div>
                            <div class="col-md-6">
                                <label for="review">Last Name</label>
                                <input type="text" [ngClass]="{ 'is-invalid':  submitted && f.lastName?.errors?.required }" class="form-control" id="lname" placeholder="Last Name" formControlName="lastName" >
                            </div>
                            <div class="col-md-6">
                                <label for="review">Password</label>
                                <input type="password" class="form-control" id="review" [ngClass]="{ 'is-invalid':  submitted && (f.password?.errors?.required || f.password?.errors?.minlength)}" placeholder="Enter your password" formControlName="password" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">email</label>
                                <input type="text" class="form-control" [ngClass]="{ 'is-invalid':  submitted && (f.email?.errors?.required || f.email?.errors?.email)}" id="email" placeholder="Email" formControlName="email" >
                            </div>

                            <div class="col-md-6">
                                <label for="review">Confirm Password</label>
                                <input type="password" class="form-control" id="review" [ngClass]="{ 'is-invalid':  submitted && f.confirmPassword?.errors?.required || f.confirmPassword?.errors?.minlength ||(f.password?.value != f.confirmPassword?.value)}" placeholder="Enter your password" formControlName="confirmPassword" required="">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="colors" class="form-label">Image</label>
                                    <input class="form-control" type="file"
                                           (change)="onChange($event)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="colors" class="form-label">Birth Date</label>
                                    <input [ngClass]="{ 'is-invalid':  submitted && (f.birthDate?.errors?.required || birthDate > today)}" class="form-control" type="date" formControlName="birthDate"
                                           >
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-solid">create Account</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->
