<section class="compare-padding padding-t">
    <div class="theme-card">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4>mes payments</h4>
                    <div class="compare-page">
                        <div class="table-wrapper table-responsive">
                            <table class="table margin-table">
                                <thead>
                                <tr class="th-compare">
                                    <td>id</td>
                                    <td>transactionid</td>
                                    <td>transactiontype</td>
                                    <td>fullName</td>
                                    <td>ammount</td>
                                    <td>cardType</td>
                                    <td>Date</td>

                                </tr>
                                </thead>
                                <tbody id="table-compare">
                                <tr *ngFor="let order of orders">
                                    <td class="item-row">
                                        {{order.id}}
                                    </td>
                                    <td class="item-row">
                                        {{order.transactionid}}
                                    </td>
                                    <td class="item-row">
                                        {{order.transactiontype}}
                                    </td>
                                    <td class="item-row">
                                        {{order.fullName}}
                                    </td>
                                    <td class="item-row">
                                        {{order.amount}}
                                    </td>
                                    <td class="item-row">
                                        {{order.cardType}}
                                    </td>
                                    <td class="item-row">
                                        {{order.createdAt |  date :'short'}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

